<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear /> <!-- clear to make sure that everyone uses the same sources -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DarkFactorAS" value="https://nuget.pkg.github.com/DarkFactorAS/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <DarkFactorAS>
        <add key="Username" value="%NUGET_USERNAME%" />
        <add key="ClearTextPassword" value="%NUGET_TOKEN%" />
    </DarkFactorAS>
  </packageSourceCredentials>
</configuration>
