{
  "id": "fe96ba9b-b940-4312-9ef9-bf6a2b32126a",
  "name": "Env.GameServer.Template",
  "values": [
    {
      "key": "ClientId",
      "value": "",
      "enabled": true,
      "type": "secret"
    },
    {
      "key": "ClientSecret",
      "value": "",
      "enabled": true,
      "type": "secret"
    },
    {
      "key": "ClientScope",
      "value": "",
      "enabled": true,
      "type": "default",
      "description": "Scope defines what operations we want to do"
    },
    {
      "key": "server_address",
      "value": "",
      "enabled": true,
      "type": "default",
      "description": "URL to the gameserver we want to connect to"
    }
  ],
  "_postman_variable_scope": "environment",
  "color": 0,
  "_postman_exported_at": "2026-01-09T21:45:05.439Z",
  "_postman_exported_using": "Postman/11.79.5"
}