*.ipch
*.so
*.suo
*.opensdf
*.user
*.sdf
*.lib
*.log
*.o
*.xccheckout
*.xcuserdatad
*.xcuserstate
*.xcsettings
*.plist
*.VC.opendb
*.db
*.pyc
Deploy*.sh
version.h
version.txt
versiontmp.txt
ClientConfig.xml
ServerConfig.xml
AndroidManifest.xml
libs/
bin/
obj/
gen/
Build/
Temp/
Tegra-Android/
Debug/
